<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="assets/img/DxOneWorkflow Manager icon-gold.png" style="width:50px; height: 50px; float: left; margin-left: 10px;"></ion-img>
    <ion-title style="padding: 13px">
      DxONE Workflow Manager Light
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        DxONE Workflow Manager Light
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-img src="assets/img/DxOneWorkflow Manager icon-gold.png" style="width:50px; height: 50px; float: left; margin-left: 10px;"></ion-img>
    <ion-title style="padding: 13px">
      DxONE Workflow Manager Light
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="typo-header">
      Alerts List
    </ion-list-header>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
    <ion-item *ngFor="let user of UsersArray">
      <ion-label>
        <h2>
          {{user.name}}
        </h2>
        <p>
          {{user.mobile}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>