ion-img > img {
    width: 50px;
}

.typo-header {
    font-weight: 400!important;
    font-style: normal!important;
    font-family: Arial,Calibri,sans-serif!important;
    font-size: 22px!important;
    text-transform: none!important;
}